// Navigation Styles here
//    <section class="header-and-nav">
//<header>
//<h1>Fun Bus</h1>
//<nav>
  //<a href="">Home</a>
  //<a href="">About Us</a>
  //<a href="">Blog</a>
  //<a href="">Contact</a>
//</nav>
//</header>
//</section>

header {
    display: flex;
    justify-content: space-between;
    
    nav {
        display: flex;
        align-items: center;
    }

    nav p {
        padding-left: 10px;
        padding-right: 10px;
    }

    a {
        text-decoration: none;
        color: black;
    }
}